{% extends 'base.html.twig' %}

{% block title %} Ingredient{% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

        {% if not ingredients.items is same as([]) %}
            <h1> Mes ingredients </h1>
            <a href="{{ path('ingredient.new') }}" class="btn btn-primary">
				Créer un ingrédient
			</a>

            {# total items count #}
            <div class="count mt-4">
                <small> il y a {{ ingredients.getTotalItemCount }} ingredients</small>
            </div>


            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">date de création</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Supp</th>
                    </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-primary">
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.createAt|date('d/m/Y') }}</td>
                    <td>
						<a href="{{ path('ingredient.edit', { id: ingredient.id }) }}" class="btn btn-info">Modifier</a>
					</td>
                    <td>
						<a href="{{ path('ingredient.delete', { id: ingredient.id }) }}" class="btn btn-warning">Supprimer</a>
					</td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(ingredients) }}
            </div>
        {% else %}
            <h1>Sorry il n'y a pas d'ingredients </h1>
        {% endif %}
    </div>


{% endblock %}
